header {
    height: 300px;
    width: 100%;
    background: rgb(131,58,180);
    background: -moz-linear-gradient(169deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(169deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: linear-gradient(169deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header > h1 {
    color: white;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: black;
}

.main-content {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
}

.main-photo > img {
    width: 600px;
    max-width: 100%;
    height: auto;
}

.main-text {
    margin: 0 50px;
    text-align: center;
}

.main-text > h1 {
    font-weight: bolder;
}

.main-photo {
    margin: 0 50px;
}

.contacts {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts > a > img {
    height: 50px;
}

.contacts > a {
    margin: 0 20px;
    background-color: white;
    border: 10px solid white;
    border-radius: 20px;
}

.contacts > a:hover {
    background-color: darkgrey;
    border: 10px solid darkgrey;
    transition: 3s;
}

#projects {
    height: 1000px;
    background-color: white;
    text-align: center;
}

#projects > h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bolder;
    width: 100%;

}

.projects_images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.projects_images > a > img {
    width: 600px;
    max-width: 100%;
    height: auto;
}

.projects_images > a {
    display: inline-block;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 3px solid black;
    text-decoration: none;
    color: black;
}

.projects_images > a:hover {
    background-color: black;
    color: white;
    transition: 3s;
}

@media only screen and (max-width: 1000px) {
    .main-content {
        height: 800px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1250px) {
    .projects_images {
        flex-direction: column;
    }
    .projects_images > a {
        margin: 20px auto;
    }
}
